/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Stile input generale */
input {
  border-radius: 20px;
  border: 0;
  padding-left: 10px;
}

input:focus {
  outline-width: 0;
}

.container {
  width: 100%;
  /* debug */
  /* background-color: grey; */
  border: 1px solid black;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #009688;
  position: absolute;
}

.container-webapp {
  width: 80%;
  height: 700px;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  /*debug */
  background-color: #ededed;
  position: relative;
}

/* Parte sinistra webapp */
.left-side {
  width: 30%;
}

.nome-utente {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  padding: 5px;
  align-items: center;
}

#user-name-avatar {
  width: 40%;
  display: flex;
}

#nome-user {
  width: 80%;
  align-self: center;
  font-size: 12px;
}

#user-name-controls .fas {
  padding: 0 8px;
  color: slategray;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: 50px;
  border-radius: 50px;
}

#enable-notifications {
  display: flex;
  justify-content: space-around;
  background-color: #9de1fe;
  min-height: 60px;
  padding: 10px;
}

#notifications-text {
  align-self: center;
}

#filter-chat {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: sticky;
}

.input-icon {
  position: absolute;
  top: calc (50% - 0.5em);
  left: 3px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.fa-search {
  padding: 10px;
  color: slategray;
}

/* Lista chat sx */

.list-chat-container {
  width: 95%;
  height: calc(700px - 210px);
  margin: 0 auto;
  overflow-y: auto;
}

.chat-item {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid rgb(175, 187, 199);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.user-chat-avatar {
  width: 30%;
  display: flex;
}

.nome-contact {
  width: 80%;
  align-self: center;
}

.nome-contact p {
  font-size: 12px;
}

/* Parte destra della webapp */
.right-side {
  width: 70%;
  /* height: calc(698.4 - 30px); */
}

.info-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  border-left: 1px solid slategray;
}

.avatar-name {
  width: 20%;
  display: flex;
}

.contact-info {
  width: 80%;
  align-self: center;
}

.active-chat-options i {
  padding: 0 5px;
  color: slategray;
  font-size: 18px;
}

.chat-space {
  width: 100%;
  height: calc(700px - 60px - 70px);

  overflow-y: auto;
  /* debug */
  background-image: url(../img/whatsappbg.png);
  background-size: cover;
}

.centratura-chat {
  padding: 20px 40px;
}

/* Alternative chat dinamiche per ogni contatto */
.centratura-chat.uno {
  display: block;
}

.centratura-chat.due {
  display: none;
}

.centratura-chat.tre {
  display: none;
}

.centratura-chat.quattro {
  display: none;
}

.centratura-chat.cinque {
  display: none;
}

.message-sent {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
  /* debug */
}

.message-received {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
}

.text-sent {
  width: 30%;
  min-height: 50px;
  background-color: #dcf8c6;
  padding: 5px;
  border-radius: 10px;
  display: flex;
}

.mess-sent {
  align-self: center;
}

.text-rec {
  width: 30%;
  min-height: 50px;

  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  display: flex;
}

.mess-rec {
  align-self: center;
}

/* Barra invia messaggio */
.send-message-bar {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.type-message {
  width: 90%;
  height: 40px;
}

.send-message-bar i {
  align-self: center;
  font-size: 18px;
  color: slategray;
}
