<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boozzapp</title>
  </head>
  <body>
    <!-- Sottopagina con header verde -->
    <div class="container">
      <div id="header"></div>
      <div id="app" class="container-webapp">
        <!-- Parte sinistra lista chat -->
        <div class="left-side">
          <!-- Barra nome utente con avatar -->
          <div class="nome-utente">
            <div id="user-name-avatar">
              <img src="img/avatar_2.jpg" alt="user avatar" />
              <div id="nome-user">
                <h4>Salvatore Borgia</h4>
              </div>
            </div>
            <div id="user-name-controls">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-dots"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="hidden-controls">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-dots"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

          <!-- Barra attiva le notifiche desktop -->
          <div id="enable-notifications">
            <img src="img/notlogo.PNG" alt="logo notifiche desktop" />
            <div id="notifications-text">
              <h4>Ricevi notifiche dei nuovi messaggi</h4>
              <a href="">Attiva subito le notifiche</a>
            </div>
          </div>

          <!-- Input filtra chat -->
          <div id="filter" class="input-icons">
            <input
              type="text"
              id="filter-chat"
              placeholder="Cerca o inizia una nuova chat"
              v-model="search"
            />
            <label for="stuff" class="fa fa-search input-icon"></label>
            <div v-if="contatti">
              <div
                class="contenitore-contatto"
                v-for="(item, index) in itemsSearched"
                ::key="index"
                :class="(indexSelected === index) ? 'selected' : ''"
                @click="selectContatto(item, index)"
                @click="retriveLastAccess()"
              >
                <div class="single-contact">
                  <img :src="contatti[index].img" />

                  <div class="single-contact-text">
                    <h4>{{contatti[index].name}}</h4>
                    <p class="last-message">
                      {{contatti[index].messages[contatti[index].messages.length
                      - 1].message}}
                    </p>
                  </div>
                </div>
                <div class="ultimo-accesso">
                  <p v-model="contatti[index].messages.date">
                    {{contatti[index].messages[contatti[index].messages.length -
                    1].date}}
                  </p>
                </div>
              </div>
            </div>
            <!-- Lista chat sx-->
          </div>
        </div>

        <!-- Parte destra chat aperta -->
        <div class="right-side">
          <div
            id="contenitore-chat-dx"
            v-for="(item, index) in contatti"
            :key="index"
            :class="(indexSelected === index) ? 'show' : 'hidden'"
          >
            <!-- Header della chat attiva -->
            <div class="info-chat">
              <!-- SEZIONE DINAMICA CAMBIA CONTATTO CON CUI CHATTO -->

              <!-- Info contatto con cui chatto 1 -->
              <div class="avatar-name">
                <img
                  class="contact-avatar"
                  :src="contatti[index].img"
                  alt="contact-avatar"
                />

                <div class="contact-info">
                  <h5>{{contatti[index].name}}</h5>
                  <p>
                    Ultimo accesso:
                    {{contatti[index].messages[contatti[index].messages.length -
                    1].date}}
                  </p>
                </div>
                <!-- Icone opzioni chat attiva -->
                <div class="active-chat-options">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-comment-dots"></i>
                </div>
              </div>
            </div>

            <!-- Sezione chat -->
            <div class="chat-space">
              <!-- Centratura chat e messaggi -->
              <div class="centratura-chat">
                <!-- messaggi chat -->
                <div
                  v-for="(item, index) in contatti[indexSelected].messages"
                  class="messaggi-chat"
                  :class="item.status"
                >
                  <div class="messaggi">
                    <h4 class="messaggio">{{item.message}}</h4>
                    <p class="data-messaggio">{{item.date}}</p>
                  </div>
                  <!-- Messaggi che invio e ricevo-->
                  <div></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Barra invia messaggio -->
          <div class="send-message-bar">
            <i class="far fa-laugh"></i>
            <input
              type="text"
              class="type-message"
              placeholder="Scrivi un messaggio"
              v-model="testoMessaggio"
              v-on:keydown.enter="sendMessage()"
            />
            <i class="fas fa-microphone" @click="sendMessage()"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
